﻿.outer {
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 45%;
    transform: translateY(-55%);
    width: 20%;
}

#regErr {
    color: #ff0000;
    display: none;
    font-size: 14px;
}

.inner {
    -moz-box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.4);
    display: inline-block;
    padding-bottom: 10%;
    padding-top: 10%;
}

.elements {
    display: inline-block;
    margin: 5%;
}

.elements .text {
    background: transparent;
    border: 0;
    border-bottom: solid 1px;
    border-color: #e0f2f1;
    margin-bottom: 7%;
    outline: 0;
    width: 70%;
}

.elements .button {
    -moz-box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.3);
    background: transparent;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.3);
    margin-top: 5%;
    padding: 10px;
    width: 70%;
}

.elements .button:hover { cursor: pointer; }

* {
    color: #734d26;
    font-family: Verdana;
    font-size: 16px;
    font-weight: bold;
}