﻿body { margin: 0; }

.appContainer {
    height: 100vh;
    min-width: 600px;
}

.appLeft, .appRight {
    display: inline-block;
    height: 97%;
    min-height: 700px;
}

.appLeft {
    float: left;
    min-width: 510px;
    width: 85%;
}

.appTop { width: 100%; }

.appRight {
    min-width: 90px;
    width: 15%;
}

.appCenter, .appBottom {
    display: block;
    width: 100%;
}

.appCenter {
    height: 50%;
    min-height: 350px;
}

.appBottom {
    height: 50%;
    min-height: 350px;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}