﻿body { margin: 0; }

.navHeader {
    background: black;
    display: flex;
    filter: alpha(opacity=55); /* For IE8 and earlier */
    flex-direction: column;
    height: 100%;
    justify-content: center;
    opacity: 0.55;
    text-align: center;
    width: 100%;
}

.navInner .left {
    float: left;
    margin: auto;
    margin-left: 2%;
}

.navInner .right {
    float: right;
    margin-right: 2%;
}

.navInner a {
    cursor: pointer;
    filter: alpha(opacity=100); /* For IE8 and earlier */
    opacity: 1;
    text-decoration: none;
}

#lOut { cursor: pointer; }

* {
    color: #c68c53;
    font-family: Verdana;
    font-size: 16px;
    font-weight: bold;
}