﻿.gameOuter {
    -moz-box-shadow: 1px 0 1px 0 #adab96 inset;
    -webkit-box-shadow: 1px 0 1px 0 #adab96 inset;
    background: transparent;
    box-shadow: 1px 0 1px 0 #adab96 inset;
    height: 100%;
    width: 100%;
}

.gameInitial, .gameAction { display: inline-block; }

.increaseAction { float: right; }

button { color: #463c33; }

#tmr { display: inline-block; }

.centered {
    bottom: 0;
    color: white;
    cursor: pointer;
    left: 0;
    line-height: 61px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    vertical-align: middle;
    width: 91px;
}

.container {
    bottom: 0;
    height: 40%;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 3%;
    width: 85%;
}

.img {
    height: 65px;
    width: 65px;
}

.img:disabled {
    filter: alpha(opacity=60); /* msie */
    opacity: 0.6;
}

.row { margin: 25px; }

.rowEl {
    display: inline-block;
    height: 54px;
    margin: 0 15px;
    position: relative;
    width: 96px;
}

.btn {
    cursor: pointer;
    height: 45px;
    width: 45px;
}

* {
    color: #463c33;
    font-family: Verdana;
    font-size: 16px;
    font-weight: bold;
}