﻿.chatOuter {
    height: 100%;
    width: 100%;
}

.contentContainer {
    height: 95%;
    position: relative;
    width: 100%;
}

.chatContentOverlay, .chatContent {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    width: 100%;
}

.chatContentOverlay {
    -moz-box-shadow: 0 5px 3px -5px white inset, 0 -5px 3px -5px white inset;
    -webkit-box-shadow: 0 5px 3px -5px white inset, 0 -5px 3px -5px white inset;
    background: black;
    box-shadow: 0 5px 3px -5px white inset, 0 -5px 3px -5px white inset;
    filter: alpha(opacity=15); /* For IE8 and earlier */
    opacity: 0.15;
}

.chatContent { z-index: 10; }

.chatFooter { height: 5%; }

.txt {
    background: white;
    border: 0;
    color: #000000;
    filter: alpha(opacity=35); /* For IE8 and earlier */
    height: 100%;
    margin: 0;
    opacity: 0.45;
    outline: 0;
    padding: 0;
    width: 100%;
}

* {
    color: #463c33;
    font-family: Verdana;
    font-size: 16px;
    font-weight: bold;
}

::-webkit-input-placeholder { /* Chrome <=56, Safari < 10 */
    -webkit-transition: opacity .5s;
    opacity: 1;
    transition: opacity .5s;
}

:-moz-placeholder { /* FF 4-18 */
    -moz-transition: opacity .5s;
    opacity: 1;
    transition: opacity .5s;
}

::-moz-placeholder { /* FF 19-51 */
    -moz-transition: opacity .5s;
    opacity: 1;
    transition: opacity .5s;
}

:-ms-input-placeholder { /* IE 10+ */
    opacity: 1;
    transition: opacity .5s;
}

*:focus::-webkit-input-placeholder { /* Chrome <=56, Safari < 10 */
    opacity: 0;
}

*:focus:-moz-placeholder { /* FF 4-18 */
    opacity: 0;
}

*:focus::-moz-placeholder { /* FF 19-50 */
    opacity: 0;
}

*:focus:-ms-input-placeholder { /* IE 10+ */
    opacity: 0;
}