﻿.contactListMain {
    background: black;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-box-shadow: 5px 0px 2px -5px white inset;
    -moz-box-shadow: 5px 0px 2px -5px white inset;
    box-shadow: 5px 0px 2px -5px white inset;
    opacity: 0.45;
    filter: alpha(opacity=45); /* For IE8 and earlier */
}

.contactListMain .contactList {
    padding: 2% 4%;
}

* {
    color: #c68c53;
    font-weight: bold;
    font-family: Verdana;
}